/*.mdui-theme-light{
    background-color:#aabfe3;
}
.mdui-theme-dark{
    background-color:#1b1b1f;
}*/
#avatar {
    width: 300px;
    height: 300px;
    display: block;
    margin: auto;
    margin-top: 7%;
}
#maincard{
    background-color: #aabfe3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin:auto;
    position: absolute;
}
#rightcard{
    margin-right:37%;
    position: absolute;
}
#text{
    font-family: Noto Sans SC;
    font-size:large;
}
#texttitle{
    font-family: ProductSans;
    font-size:large;
}
@font-face{
    font-family: ProductSans;
    src: url(https://lmx.icu/ProductSans.ttf);
}
#lefthide{
    background-color: #aabfe3;
}
#name{
    margin: auto;
    font-family: ProductSans;
    font-size:medium;
    color: #33353e;
}
#aboutme{
    font-family: Noto Sans SC;
    font-size: medium;
    margin-left: 5%;
}
#undername{
    font-size: small;
}
#emailicon{
    display: block;
    margin: auto;
}
#mduibutton{
    margin-left: 5%;
    display: flex;
}
#bottom{
    display: flex;
    font-family: ProductSans;
    margin-bottom: 10%;
}
#left_text_bottom{
    margin-bottom: 3%;
}